<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>axios</title>
    <style>
        .leftSide{
            width: 50%;
            float: left;
        }
        .rightSide{
            width: 40%;
            float: right;
            position: fixed;
            right: 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="leftSide">
            <div v-for="post in allPosts">
                <a href="javascript:;" @click="getSingle(post.id)"><h2>{{post.title}}</h2></a>
                <p>{{post.body}}</p>
            </div>
        </div>
        <div class="rightSide">
                <h2>{{singlePost.title}}</h2>
                <p>{{singlePost.body}}</p>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <script>
        var app = new Vue({
            data:{
                postsUrl:"https://jsonplaceholder.typicode.com/posts/",
                allPosts:{},
                singlePost:{}
            },
            methods:{
                getSingle:function(id){
                    axios.get(this.postsUrl+id)
                        .then(function(response){
                            app.singlePost = {};
                            app.singlePost = response.data;
                            console.log(app.singlePost);
                        })
                        .catch(function(error){
                            console.log(error);
                        })
                }
            },
            mounted:function(){
                axios.get(this.postsUrl)
                    .then(function(response){
                        app.allPosts = response.data;
                        console.log(app.allPosts);
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }
        }).$mount('#app');
    </script>
</body>
</html>