<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components</title>
</head>
<body>
    <div id="app">
        <my-component></my-component>
        <my-component2 v-bind:name="message"></my-component2>
    </div>

    <script src="vue.js"></script>
    <script>
        Vue.component("my-component2",{
            //props:["name"],
            props:{
                name:{
                    type:String,
                    validator:function(value){
                        //validation condition
                    },
                    default:function(){
                        return {name:"Default value"}
                    }
                }
            },
            template:`<h2>{{name}}</h2>`,
            data:function(){
                return {
                        //name:"Azeem Shami"
                    };
            }
        });
        var app = new Vue({
            components:{
                "my-component":{
                    template:`<h1>Hi there</h1>`
                }
            },
            data:{
                message:"hello from vue"
            }
        }).$mount('#app');
    </script>
</body>
</html>