<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-pre, v-cloak, v-once,v-model</title>
    <style>
        [v-cloak]{
            display: none
        }
    </style>
</head>
<body>
    
    <div id="app">
        <p v-pre>{{msg}}</p>

        <h3 v-cloak v-once>{{msg}}</h3>
        <p v-cloak >{{msg}}</p>

        <input type="text" v-model.number.lazy="modMes1">
        <input type="text" v-model.number.lazy="modMes2">
        {{modMes1+modMes2}}
    </div>

    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                msg:'hello from vue',
                modMes1:"",
                modMes2:""
            },
            methods:{},
        });
    </script>
</body>
</html>