<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Binding</title>
</head>
<body>
    <div id="app">
        <input type="text" id="newCountry" placeholder="Add new Country" v-on:keyup.enter="add" />
        <ul>
            <li v-for="country in countries" v-bind:title="country">{{country}}</li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                countries:['Pakistan','US','Canada','UK']
            },
            methods:{
                add: function(){
                    let country = document.getElementById('newCountry').value;
                    app.countries.push(country);
                }
            }
        });
    </script>
</body>
</html>