<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filters</title>
</head>
<body>
    <div id="app">
        <my-component v-bind:message="message"></my-component>
    </div>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            components:{
                "my-component":{
                    props:["message"],
                    template:`<h1>{{ message | uperCase }}</h1>`
                }
            },
            data:{
                message:"hello world"
            },
            filters:{
                uperCase:function(value){
                    return value.toUpperCase();
                }
            },
        }).$mount('#app');
    </script>
</body>
</html>