<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js Learning</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='message' placeholder="Enter string">
        <p v-text='message'></p><br>

        <div v-if="show == 1">
            hello world 1
        </div>
        <div v-else-if="show == 2">
            hello world 2
        </div>
        <div v-else-if="show == 3">
            hello world 3
        </div>
        <div v-else>
            hello world 4
        </div>

    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                show:0
            }
        })
    </script>
</body>
</html>