<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning vuejs</title>
</head>
<body>
    
    <div id="app">
        Array loop
        <ul>
            <li v-for="city in cities">{{city}}</li>
        </ul>

        Object Loop
        <ul>
            <li v-for="state in states">{{state.name}}</li>
        </ul>

        Number Loop
        <ul>
            <li v-for="num in count">{{num}}</li>
        </ul>
        String Loop
        <ul>
            <li v-for="(c,index) in country">{{index}}</li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                cities:[
                    'Pakpattan',
                    'Lahore',
                    'Multan',
                    'Islamabad'
                    ],
                states:[
                    {name:'punjab'},
                    {name:'sindh'},
                    {name:'balochistan'},
                    {name:'KPK'}
                    ],
                count:10,
                country:"Pakistan"    
            }
        });
    </script>
</body>
</html>