<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Templates</title>
</head>
<body>
    <div id="app">

    </div>

    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            //el:"#app",
            template:`
                <div>
                    <h2>{{msg}}</h2>
                </div>
            `,
            data:{
                msg:"Hello world"
            },
            methods:{
                examMethod: function(){
                    console.log('hello world');
                }
            },
            mounted(){
                this.examMethod();
            }
        }).$mount("#app");
    </script>
</body>
</html>